nodered/config.json
[
  {
      "id": "64b187a2.412488",
      "type": "subflow",
      "name": "Day Phase Scene",
      "info": "",
      "category": "",
      "in": [
          {
              "x": 40,
              "y": 40,
              "wires": [
                  {
                      "id": "ef67cec8.7a5cb"
                  }
              ]
          }
      ],
      "out": [
          {
              "x": 620,
              "y": 40,
              "wires": [
                  {
                      "id": "25dea565.5bff4a",
                      "port": 0
                  }
              ]
          }
      ],
      "icon": "node-red-node-suncalc/sun.png"
  },
  {
      "id": "25dea565.5bff4a",
      "type": "function",
      "z": "64b187a2.412488",
      "name": "Hue Scene",
      "func": "const capitalize = part => part.charAt(0).toUpperCase() + part.slice(1)\n\nconst group = msg.room.split(\"_\")\n                .map(capitalize)\n                .join(\" \")\n                    \nconst dayPhase = msg.payload\n\nmsg.payload = { \n    data: {\n        group_name: group,\n        scene_name: dayPhase\n    }\n};\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 490,
      "y": 40,
      "wires": [
          []
      ]
  },
  {
      "id": "ef67cec8.7a5cb",
      "type": "function",
      "z": "64b187a2.412488",
      "name": ".room",
      "func": "if (msg.room) return msg;\n\nif (msg.topic) {\n    msg.debug = \"topic\"\n    msg.room = msg.topic.split(\".\")[1]\n}\n\nif (msg.info) {\n    msg.debug = \"info\"\n    msg.room = msg.info.name\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 150,
      "y": 40,
      "wires": [
          [
              "8af4a119.b8eae"
          ]
      ]
  },
  {
      "id": "8af4a119.b8eae",
      "type": "api-current-state",
      "z": "64b187a2.412488",
      "name": "Day Phase",
      "server": "81491f2d.c6cf8",
      "halt_if": "",
      "override_topic": true,
      "override_payload": true,
      "entity_id": "sensor.day_phase",
      "x": 310,
      "y": 40,
      "wires": [
          [
              "25dea565.5bff4a"
          ]
      ]
  },
  {
      "id": "f9bc0030.d8095",
      "type": "subflow",
      "name": "Day? / Night?",
      "info": "",
      "category": "",
      "in": [
          {
              "x": 100,
              "y": 60,
              "wires": [
                  {
                      "id": "7ddd8620.c4c8c8"
                  }
              ]
          }
      ],
      "out": [
          {
              "x": 520,
              "y": 40,
              "wires": [
                  {
                      "id": "6761a43b.0b4d9c",
                      "port": 0
                  }
              ]
          },
          {
              "x": 520,
              "y": 80,
              "wires": [
                  {
                      "id": "6761a43b.0b4d9c",
                      "port": 1
                  }
              ]
          }
      ],
      "icon": "node-red-contrib-sunevents/white_golden_sun.png"
  },
  {
      "id": "7ddd8620.c4c8c8",
      "type": "api-current-state",
      "z": "f9bc0030.d8095",
      "name": "Day Phase",
      "server": "81491f2d.c6cf8",
      "halt_if": "",
      "override_topic": true,
      "override_payload": true,
      "entity_id": "sensor.day_phase",
      "x": 230,
      "y": 60,
      "wires": [
          [
              "6761a43b.0b4d9c"
          ]
      ]
  },
  {
      "id": "6761a43b.0b4d9c",
      "type": "switch",
      "z": "f9bc0030.d8095",
      "name": "Day / Night",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
          {
              "t": "regex",
              "v": "morning|day",
              "vt": "str",
              "case": true
          },
          {
              "t": "regex",
              "v": "evening|night",
              "vt": "str",
              "case": true
          }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 390,
      "y": 60,
      "wires": [
          [],
          []
      ]
  },
  {
      "id": "7afe1c1c.fc2824",
      "type": "tab",
      "label": "Misc",
      "disabled": false,
      "info": ""
  },
  {
      "id": "7322f8aa.7e2258",
      "type": "server-state-changed",
      "z": "7afe1c1c.fc2824",
      "name": "Garage Heater On?",
      "server": "81491f2d.c6cf8",
      "entityidfilter": "switch.garage_heater",
      "entityidfiltertype": "substring",
      "haltifstate": "off",
      "x": 130,
      "y": 100,
      "wires": [
          [
              "6574190c.028038"
          ]
      ]
  },
  {
      "id": "6574190c.028038",
      "type": "stoptimer",
      "z": "7afe1c1c.fc2824",
      "duration": "1",
      "units": "Hour",
      "payloadtype": "num",
      "payloadval": "0",
      "name": "",
      "x": 330,
      "y": 100,
      "wires": [
          [
              "21a48853.592398"
          ],
          []
      ]
  },
  {
      "id": "21a48853.592398",
      "type": "api-call-service",
      "z": "7afe1c1c.fc2824",
      "name": "Garage Heater Off",
      "server": "81491f2d.c6cf8",
      "service_domain": "switch",
      "service": "turn_off",
      "data": "{ \"entity_id\": \"switch.garage_heater\" }",
      "mergecontext": "",
      "x": 530,
      "y": 100,
      "wires": [
          []
      ]
  },
  {
      "id": "c54dac9e.5f58",
      "type": "comment",
      "z": "7afe1c1c.fc2824",
      "name": "Garage Heater",
      "info": "",
      "x": 120,
      "y": 60,
      "wires": []
  },
  {
      "id": "49608464.369ebc",
      "type": "server-state-changed",
      "z": "7afe1c1c.fc2824",
      "name": "Hair Straigtheners On?",
      "server": "81491f2d.c6cf8",
      "entityidfilter": "switch.hair_straighteners",
      "entityidfiltertype": "substring",
      "haltifstate": "off",
      "outputinitially": false,
      "x": 140,
      "y": 240,
      "wires": [
          [
              "784c3e2e.96c62"
          ]
      ]
  },
  {
      "id": "784c3e2e.96c62",
      "type": "stoptimer",
      "z": "7afe1c1c.fc2824",
      "duration": "30",
      "units": "Minute",
      "payloadtype": "num",
      "payloadval": "0",
      "name": "",
      "x": 360,
      "y": 240,
      "wires": [
          [
              "180aa258.bfe74e"
          ],
          []
      ]
  },
  {
      "id": "180aa258.bfe74e",
      "type": "api-call-service",
      "z": "7afe1c1c.fc2824",
      "name": "Turn Off",
      "server": "81491f2d.c6cf8",
      "service_domain": "switch",
      "service": "turn_off",
      "data": "{ \"entity_id\": \"switch.hair_straighteners\" }",
      "mergecontext": "",
      "x": 540,
      "y": 240,
      "wires": [
          []
      ]
  },
  {
      "id": "85904b1c.fb2328",
      "type": "comment",
      "z": "7afe1c1c.fc2824",
      "name": "Hair Straighteners",
      "info": "",
      "x": 130,
      "y": 200,
      "wires": []
  },
  {
      "id": "a4317b6a.9ffe28",
      "type": "inject",
      "z": "7afe1c1c.fc2824",
      "name": "Run at startup",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": true,
      "onceDelay": "5",
      "x": 320,
      "y": 140,
      "wires": [
          [
              "21a48853.592398"
          ]
      ]
  },
  {
      "id": "5d7e6813.d0d8d8",
      "type": "server-state-changed",
      "z": "7afe1c1c.fc2824",
      "name": "Day Phase Changed",
      "server": "81491f2d.c6cf8",
      "entityidfilter": "sensor.day_phase",
      "entityidfiltertype": "substring",
      "haltifstate": "",
      "outputinitially": true,
      "x": 130,
      "y": 380,
      "wires": [
          [
              "1cfccf54.68e3b1"
          ]
      ]
  },
  {
      "id": "1cfccf54.68e3b1",
      "type": "switch",
      "z": "7afe1c1c.fc2824",
      "name": "Is Night?",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
          {
              "t": "regex",
              "v": "night",
              "vt": "str",
              "case": true
          }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 1,
      "x": 340,
      "y": 380,
      "wires": [
          [
              "a0a33c42.f5d4e"
          ]
      ]
  },
  {
      "id": "c17a7c9f.8f4a",
      "type": "comment",
      "z": "7afe1c1c.fc2824",
      "name": "Night Mode",
      "info": "",
      "x": 110,
      "y": 340,
      "wires": []
  },
  {
      "id": "a0a33c42.f5d4e",
      "type": "api-call-service",
      "z": "7afe1c1c.fc2824",
      "name": "Turn On Night Mode",
      "server": "81491f2d.c6cf8",
      "service_domain": "input_boolean",
      "service": "turn_on",
      "data": "{ \"entity_id\": \"input_boolean.night_mode\" }",
      "mergecontext": "",
      "x": 580,
      "y": 380,
      "wires": [
          []
      ]
  },
  {
      "id": "7f82c27a.ce207c",
      "type": "server-state-changed",
      "z": "7afe1c1c.fc2824",
      "name": "Entrance Hall Motion",
      "server": "81491f2d.c6cf8",
      "entityidfilter": "binary_sensor.entrance_hall_motion",
      "entityidfiltertype": "substring",
      "haltifstate": "",
      "outputinitially": true,
      "x": 140,
      "y": 440,
      "wires": [
          [
              "cc3d4a3a.c5a128"
          ]
      ]
  },
  {
      "id": "cc3d4a3a.c5a128",
      "type": "subflow:f9bc0030.d8095",
      "z": "7afe1c1c.fc2824",
      "name": "",
      "x": 360,
      "y": 440,
      "wires": [
          [
              "9e9038ba.c06698"
          ],
          []
      ]
  },
  {
      "id": "9e9038ba.c06698",
      "type": "api-call-service",
      "z": "7afe1c1c.fc2824",
      "name": "Turn Off Night Mode",
      "server": "81491f2d.c6cf8",
      "service_domain": "input_boolean",
      "service": "turn_off",
      "data": "{ \"entity_id\": \"input_boolean.night_mode\" }",
      "mergecontext": "",
      "x": 580,
      "y": 440,
      "wires": [
          []
      ]
  },
  {
      "id": "21d34294.d5f9de",
      "type": "server-state-changed",
      "z": "7afe1c1c.fc2824",
      "name": "Occupied",
      "server": "81491f2d.c6cf8",
      "entityidfilter": "binary_sensor.occupied",
      "entityidfiltertype": "substring",
      "haltifstate": "",
      "outputinitially": false,
      "x": 100,
      "y": 620,
      "wires": [
          [
              "c2a35053.275d2"
          ]
      ]
  },
  {
      "id": "c2a35053.275d2",
      "type": "switch",
      "z": "7afe1c1c.fc2824",
      "name": "On / Off",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
          {
              "t": "eq",
              "v": "on",
              "vt": "str"
          },
          {
              "t": "eq",
              "v": "off",
              "vt": "str"
          }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 260,
      "y": 620,
      "wires": [
          [
              "a0b9cacb.4b35a8"
          ],
          [
              "1adbe8fb.80c517",
              "9087377b.c85888"
          ]
      ]
  },
  {
      "id": "1adbe8fb.80c517",
      "type": "stoptimer",
      "z": "7afe1c1c.fc2824",
      "duration": "18",
      "units": "Hour",
      "payloadtype": "num",
      "payloadval": "0",
      "name": "",
      "x": 440,
      "y": 640,
      "wires": [
          [
              "d3a18a8a.743d28"
          ],
          []
      ]
  },
  {
      "id": "604a446d.ea9b6c",
      "type": "api-call-service",
      "z": "7afe1c1c.fc2824",
      "name": "Away Mode - On",
      "server": "81491f2d.c6cf8",
      "service_domain": "input_boolean",
      "service": "turn_on",
      "data": "{\"entity_id\":\"input_boolean.away_mode\"}",
      "mergecontext": "",
      "x": 810,
      "y": 600,
      "wires": [
          []
      ]
  },
  {
      "id": "a0b9cacb.4b35a8",
      "type": "api-call-service",
      "z": "7afe1c1c.fc2824",
      "name": "Away Mode - Off",
      "server": "81491f2d.c6cf8",
      "service_domain": "input_boolean",
      "service": "turn_off",
      "data": "{ \"entity_id\": \"input_boolean.away_mode\" }",
      "mergecontext": "",
      "x": 450,
      "y": 580,
      "wires": [
          []
      ]
  },
  {
      "id": "33f03597.e6970a",
      "type": "comment",
      "z": "7afe1c1c.fc2824",
      "name": "Away Mode",
      "info": "",
      "x": 110,
      "y": 540,
      "wires": []
  },
  {
      "id": "5cf8867c.5c2388",
      "type": "inject",
      "z": "7afe1c1c.fc2824",
      "name": "Run at startup",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": true,
      "onceDelay": "5",
      "x": 360,
      "y": 280,
      "wires": [
          [
              "180aa258.bfe74e"
          ]
      ]
  },
  {
      "id": "c0728bf3.a299d8",
      "type": "api-current-state",
      "z": "7afe1c1c.fc2824",
      "name": "Away Mode On?",
      "server": "81491f2d.c6cf8",
      "halt_if": "off",
      "override_topic": false,
      "override_payload": false,
      "entity_id": "input_boolean.away_mode",
      "x": 330,
      "y": 860,
      "wires": [
          [
              "3c4fe02d.17d2"
          ]
      ]
  },
  {
      "id": "7dba9baa.868134",
      "type": "subflow:64b187a2.412488",
      "z": "7afe1c1c.fc2824",
      "name": "",
      "x": 730,
      "y": 940,
      "wires": [
          [
              "5a8874ac.8347bc"
          ]
      ]
  },
  {
      "id": "5a8874ac.8347bc",
      "type": "api-call-service",
      "z": "7afe1c1c.fc2824",
      "name": "Set Scene",
      "server": "81491f2d.c6cf8",
      "service_domain": "hue",
      "service": "hue_activate_scene",
      "data": "{}",
      "mergecontext": "",
      "x": 930,
      "y": 940,
      "wires": [
          []
      ]
  },
  {
      "id": "2ed809fa.2f2af6",
      "type": "api-current-state",
      "z": "7afe1c1c.fc2824",
      "name": "Sun Below Horizon?",
      "server": "81491f2d.c6cf8",
      "halt_if": "above_horizon",
      "override_topic": false,
      "override_payload": false,
      "entity_id": "sun.sun",
      "x": 500,
      "y": 940,
      "wires": [
          [
              "7dba9baa.868134"
          ]
      ]
  },
  {
      "id": "672282a3.2cfdfc",
      "type": "switch",
      "z": "7afe1c1c.fc2824",
      "name": "On / Off",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
          {
              "t": "gte",
              "v": "1",
              "vt": "str"
          },
          {
              "t": "else"
          }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 300,
      "y": 940,
      "wires": [
          [
              "2ed809fa.2f2af6"
          ],
          [
              "b23ec25d.6c35c"
          ]
      ]
  },
  {
      "id": "b23ec25d.6c35c",
      "type": "api-call-service",
      "z": "7afe1c1c.fc2824",
      "name": "Turn Off",
      "server": "81491f2d.c6cf8",
      "service_domain": "light",
      "service": "turn_off",
      "data": "{ \"entity_id\": \"input_boolean.night_mode\" }",
      "mergecontext": "",
      "x": 460,
      "y": 1000,
      "wires": [
          []
      ]
  },
  {
      "id": "3c4fe02d.17d2",
      "type": "function",
      "z": "7afe1c1c.fc2824",
      "name": "Get Room",
      "func": "const regex = /^sensor\\.replay_(.*)$/gm;\nconst match = regex.exec(msg.topic)\n\nmsg.room = match[1]\nmsg.payload = {\n    data: {\n        entity_id: `light.${msg.room}`\n    }\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 530,
      "y": 860,
      "wires": [
          [
              "672282a3.2cfdfc"
          ]
      ]
  },
  {
      "id": "43d9a765.8b9648",
      "type": "server-state-changed",
      "z": "7afe1c1c.fc2824",
      "name": "Replay Sensors",
      "server": "81491f2d.c6cf8",
      "entityidfilter": "sensor.replay_",
      "entityidfiltertype": "substring",
      "haltifstate": "",
      "outputinitially": false,
      "x": 120,
      "y": 860,
      "wires": [
          [
              "c0728bf3.a299d8"
          ]
      ]
  },
  {
      "id": "ba6ad983.a18ea8",
      "type": "comment",
      "z": "7afe1c1c.fc2824",
      "name": "Presence Simulation",
      "info": "",
      "x": 130,
      "y": 820,
      "wires": []
  },
  {
      "id": "a9911fb9.e6243",
      "type": "api-call-service",
      "z": "7afe1c1c.fc2824",
      "name": "Notify Dan",
      "server": "81491f2d.c6cf8",
      "service_domain": "notify",
      "service": "ios_dphone",
      "data": "{ \"message\": \"Away Mode activated!\" }",
      "mergecontext": "",
      "x": 790,
      "y": 660,
      "wires": [
          []
      ]
  },
  {
      "id": "d3a18a8a.743d28",
      "type": "switch",
      "z": "7afe1c1c.fc2824",
      "name": "On / Off",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
          {
              "t": "eq",
              "v": "on",
              "vt": "str"
          },
          {
              "t": "eq",
              "v": "off",
              "vt": "str"
          }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 620,
      "y": 640,
      "wires": [
          [],
          [
              "604a446d.ea9b6c",
              "a9911fb9.e6243"
          ]
      ]
  },
  {
      "id": "e27c4c5f.872bb",
      "type": "api-current-state",
      "z": "7afe1c1c.fc2824",
      "name": "Away Mode On?",
      "server": "81491f2d.c6cf8",
      "halt_if": "off",
      "override_topic": false,
      "override_payload": false,
      "entity_id": "input_boolean.away_mode",
      "x": 350,
      "y": 1060,
      "wires": [
          [
              "653e6b2f.931eb4"
          ]
      ]
  },
  {
      "id": "990e1cac.d6a09",
      "type": "server-state-changed",
      "z": "7afe1c1c.fc2824",
      "name": "Sun Above Horizon",
      "server": "81491f2d.c6cf8",
      "entityidfilter": "sensor.replay_",
      "entityidfiltertype": "substring",
      "haltifstate": "below_horizon",
      "outputinitially": false,
      "x": 130,
      "y": 1060,
      "wires": [
          [
              "e27c4c5f.872bb"
          ]
      ]
  },
  {
      "id": "653e6b2f.931eb4",
      "type": "api-call-service",
      "z": "7afe1c1c.fc2824",
      "name": "Turn Off All Lights",
      "server": "81491f2d.c6cf8",
      "service_domain": "group",
      "service": "turn_off",
      "data": "{ \"entity_id\": \"group.all_lights\" }",
      "mergecontext": "",
      "x": 570,
      "y": 1060,
      "wires": [
          []
      ]
  },
  {
      "id": "f45a93b.1d9fd7",
      "type": "api-call-service",
      "z": "7afe1c1c.fc2824",
      "name": "Everything Off",
      "server": "81491f2d.c6cf8",
      "service_domain": "scene",
      "service": "turn_on",
      "data": "{ \"entity_id\": \"scene.everything_off\" }",
      "mergecontext": "",
      "x": 580,
      "y": 700,
      "wires": [
          []
      ]
  },
  {
      "id": "9087377b.c85888",
      "type": "stoptimer",
      "z": "7afe1c1c.fc2824",
      "duration": "30",
      "units": "Minute",
      "payloadtype": "num",
      "payloadval": "0",
      "name": "",
      "x": 380,
      "y": 700,
      "wires": [
          [
              "f45a93b.1d9fd7",
              "73b48259.d5d87c"
          ],
          []
      ]
  },
  {
      "id": "73b48259.d5d87c",
      "type": "api-call-service",
      "z": "7afe1c1c.fc2824",
      "name": "Notify Dan",
      "server": "81491f2d.c6cf8",
      "service_domain": "notify",
      "service": "ios_dphone",
      "data": "{ \"message\": \"Turning everything off!\" }",
      "mergecontext": "",
      "x": 570,
      "y": 760,
      "wires": [
          []
      ]
  },
  {
      "id": "81491f2d.c6cf8",
      "type": "server",
      "z": "",
      "name": "Home Assistant"
  }
]