nodered/config.json
[
  {
    "id": "ce7797ed.a4f218",
    "type": "tab",
    "label": "System",
    "disabled": false,
    "info": ""
  },
  {
    "id": "606fff3b.0a1ad",
    "type": "api-call-service",
    "z": "ce7797ed.a4f218",
    "name": "Node Red Heartbeat",
    "server": "81491f2d.c6cf8",
    "service_domain": "input_boolean",
    "service": "toggle",
    "data": "{ \"entity_id\": \"input_boolean.node_red_heartbeat\" }",
    "mergecontext": "",
    "x": 580,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "85737416.e69e78",
    "type": "inject",
    "z": "ce7797ed.a4f218",
    "name": "Start",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "x": 170,
    "y": 100,
    "wires": [["b99bc072.bf14d"]]
  },
  {
    "id": "82c11d0.0eec2e",
    "type": "comment",
    "z": "ce7797ed.a4f218",
    "name": "Node Red Heartbeat",
    "info": "",
    "x": 130,
    "y": 60,
    "wires": []
  },
  {
    "id": "b99bc072.bf14d",
    "type": "stoptimer",
    "z": "ce7797ed.a4f218",
    "duration": "1",
    "units": "Minute",
    "payloadtype": "num",
    "payloadval": "0",
    "name": "",
    "x": 340,
    "y": 160,
    "wires": [["606fff3b.0a1ad"], []]
  },
  {
    "id": "6a15c566.d46a9c",
    "type": "server-state-changed",
    "z": "ce7797ed.a4f218",
    "name": "Node Red Heartbeat",
    "server": "81491f2d.c6cf8",
    "entityidfilter": "input_boolean.node_red_heartbeat",
    "entityidfiltertype": "substring",
    "haltifstate": "",
    "x": 130,
    "y": 160,
    "wires": [["b99bc072.bf14d"]]
  },
  {
    "id": "e06b2a6.1a502d8",
    "type": "api-call-service",
    "z": "ce7797ed.a4f218",
    "name": "Notify Dan",
    "server": "81491f2d.c6cf8",
    "service_domain": "notify",
    "service": "ios_dphone",
    "data": "{ \"message\": \"Node-RED coming online!\" }",
    "mergecontext": "",
    "x": 330,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "f9756f2e.a1eef",
    "type": "http request",
    "z": "ce7797ed.a4f218",
    "name": "Reboot Host",
    "method": "GET",
    "ret": "txt",
    "url": "http://hassio/host/reboot",
    "tls": "",
    "x": 550,
    "y": 500,
    "wires": [["5c4d0604.b8e6a8"]]
  },
  {
    "id": "51cf1b16.32ec54",
    "type": "inject",
    "z": "ce7797ed.a4f218",
    "name": "HASSIO_TOKEN",
    "topic": "",
    "payload": "HASSIO_TOKEN",
    "payloadType": "env",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 140,
    "y": 500,
    "wires": [["432de28f.85bc8c"]]
  },
  {
    "id": "5c4d0604.b8e6a8",
    "type": "debug",
    "z": "ce7797ed.a4f218",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 500,
    "wires": []
  },
  {
    "id": "432de28f.85bc8c",
    "type": "function",
    "z": "ce7797ed.a4f218",
    "name": "Set X-HASSIO-KEY",
    "func": "\nmsg.headers = {};\nmsg.headers['X-HASSIO-KEY'] = msg.payload;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 500,
    "wires": [["f9756f2e.a1eef"]]
  },
  {
    "id": "455c1235.9adf3c",
    "type": "comment",
    "z": "ce7797ed.a4f218",
    "name": "Reboot Home Assistant",
    "info": "",
    "x": 140,
    "y": 460,
    "wires": []
  },
  {
    "id": "7dd6770c.8abe98",
    "type": "inject",
    "z": "ce7797ed.a4f218",
    "name": "4am",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "00 04 * * 0",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 300,
    "wires": [["d9a7a486.993e78"]]
  },
  {
    "id": "8c66ad9e.c438a",
    "type": "api-call-service",
    "z": "ce7797ed.a4f218",
    "name": "Upload",
    "server": "81491f2d.c6cf8",
    "service_domain": "hassio",
    "service": "addon_stdin",
    "data": "{\"addon\":\"7be23ff5_dropbox_sync\",\"input\":{\"command\":\"upload\"}}",
    "mergecontext": "",
    "x": 620,
    "y": 300,
    "wires": [[]]
  },
  {
    "id": "d9a7a486.993e78",
    "type": "api-call-service",
    "z": "ce7797ed.a4f218",
    "name": "Snapshot",
    "server": "81491f2d.c6cf8",
    "service_domain": "hassio",
    "service": "snapshot_full",
    "data": "",
    "mergecontext": "",
    "x": 260,
    "y": 300,
    "wires": [["98a2fa83.f07098"]]
  },
  {
    "id": "98a2fa83.f07098",
    "type": "stoptimer",
    "z": "ce7797ed.a4f218",
    "duration": "10",
    "units": "Minute",
    "payloadtype": "bool",
    "payloadval": "true",
    "name": "",
    "x": 440,
    "y": 300,
    "wires": [[], ["8c66ad9e.c438a"]]
  },
  {
    "id": "2df45351.8259ec",
    "type": "comment",
    "z": "ce7797ed.a4f218",
    "name": "Backup Hassio",
    "info": "",
    "x": 120,
    "y": 260,
    "wires": []
  },
  {
    "id": "81491f2d.c6cf8",
    "type": "server",
    "z": "",
    "name": "Home Assistant"
  }
]
