node-red/flows.json
[{"id":"ce61c348.0d296","type":"tab","label":"Living Room","disabled":false,"info":""},{"id":"3bd8c115.3e42ae","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"4f666315.2afffc","type":"tab","label":"Hallway","disabled":false,"info":""},{"id":"4ca21be4.5fec94","type":"tab","label":"Top Floor","disabled":false,"info":""},{"id":"4eea289e.b77d38","type":"tab","label":"Outside","disabled":false,"info":""},{"id":"ef1c2144.74e1","type":"tab","label":"Guest Room","disabled":false,"info":""},{"id":"7afe1c1c.fc2824","type":"tab","label":"Misc","disabled":false,"info":""},{"id":"ce7797ed.a4f218","type":"tab","label":"System","disabled":false,"info":""},{"id":"64b187a2.412488","type":"subflow","name":"Day Phase Scene","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"ef67cec8.7a5cb"}]}],"out":[{"x":620,"y":40,"wires":[{"id":"25dea565.5bff4a","port":0}]}],"icon":"node-red-node-suncalc/sun.png"},{"id":"f9bc0030.d8095","type":"subflow","name":"Day? / Night?","info":"","category":"","in":[{"x":100,"y":60,"wires":[{"id":"7ddd8620.c4c8c8"}]}],"out":[{"x":660,"y":40,"wires":[{"id":"6761a43b.0b4d9c","port":0}]},{"x":660,"y":80,"wires":[{"id":"6761a43b.0b4d9c","port":1}]}],"env":[],"outputLabels":["Day","Night"],"icon":"node-red-contrib-sunevents/white_golden_sun.png","status":{"x":560,"y":120,"wires":[{"id":"96f4fceb.1db68","port":0}]}},{"id":"da409f68.5a74d","type":"subflow","name":"Gather","info":"","category":"","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[{"id":"da409f68.5a74d","port":0}]}],"env":[],"icon":"node-red/switch.png","status":{"x":160,"y":80,"wires":[{"id":"da409f68.5a74d","port":0}]}},{"id":"e8e1522.0dab4b","type":"subflow","name":"Set Day Phase Scene","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"15d91635.07a43a"}]}],"out":[{"x":740,"y":40,"wires":[{"id":"ad0dbd05.a5e14","port":0}]}],"env":[{"name":"group_name","type":"str","value":""}],"icon":"font-awesome/fa-sun-o","status":{"x":480,"y":100,"wires":[{"id":"96a81310.f751a","port":0}]}},{"id":"ca588edf.4580e","type":"subflow","name":"Day Phase?","info":"","category":"","in":[{"x":80,"y":100,"wires":[{"id":"d64ebe40.4f93c"}]}],"out":[{"x":600,"y":40,"wires":[{"id":"2834c62.349d93a","port":0}]},{"x":600,"y":80,"wires":[{"id":"2834c62.349d93a","port":1}]},{"x":600,"y":120,"wires":[{"id":"2834c62.349d93a","port":2}]},{"x":600,"y":160,"wires":[{"id":"2834c62.349d93a","port":3}]}],"env":[],"outputLabels":["Morning","Day","Evening","Night"],"icon":"node-red-contrib-sunevents/white_golden_sun.png"},{"id":"7c90ad4.f89e854","type":"subflow","name":"Bright Enough","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"3787fee5.186b22"}]}],"out":[{"x":300,"y":40,"wires":[{"id":"3787fee5.186b22","port":0}]},{"x":300,"y":80,"wires":[{"id":"3787fee5.186b22","port":1}]}],"env":[{"name":"light_level","type":"num","value":"0"}],"icon":"font-awesome/fa-lightbulb-o","status":{"x":300,"y":120,"wires":[{"id":"3787fee5.186b22","port":2}]}},{"id":"81491f2d.c6cf8","type":"server","z":"","name":"Home Assistant"},{"id":"52baeecb.7c895","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"25dea565.5bff4a","type":"function","z":"64b187a2.412488","name":"Hue Scene","func":"const capitalize = part => part.charAt(0).toUpperCase() + part.slice(1)\n\nconst group = msg.room.split(\"_\")\n                .map(capitalize)\n                .join(\" \")\n                    \nconst dayPhase = msg.payload\n\nmsg.payload = { \n    data: {\n        group_name: group,\n        scene_name: dayPhase\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":40,"wires":[[]]},{"id":"ef67cec8.7a5cb","type":"function","z":"64b187a2.412488","name":".room","func":"if (msg.room) return msg;\n\nif (msg.topic) {\n    msg.debug = \"topic\"\n    msg.room = msg.topic.split(\".\")[1]\n}\n\nif (msg.info) {\n    msg.debug = \"info\"\n    msg.room = msg.info.name\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":40,"wires":[["8af4a119.b8eae"]]},{"id":"7322f8aa.7e2258","type":"server-state-changed","z":"7afe1c1c.fc2824","name":"Garage Heater On?","server":"81491f2d.c6cf8","entityidfilter":"switch.garage_heater","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":130,"y":100,"wires":[["6574190c.028038"]]},{"id":"6574190c.028038","type":"stoptimer","z":"7afe1c1c.fc2824","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":330,"y":100,"wires":[["21a48853.592398"],[]]},{"id":"21a48853.592398","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Garage Heater Off","server":"81491f2d.c6cf8","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.garage_heater\" }","mergecontext":"","x":530,"y":100,"wires":[[]]},{"id":"c54dac9e.5f58","type":"comment","z":"7afe1c1c.fc2824","name":"Garage Heater","info":"","x":120,"y":60,"wires":[]},{"id":"7ddd8620.c4c8c8","type":"api-current-state","z":"f9bc0030.d8095","name":"Day Phase","server":"81491f2d.c6cf8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.day_phase","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":230,"y":60,"wires":[["6761a43b.0b4d9c","96f4fceb.1db68"]]},{"id":"6761a43b.0b4d9c","type":"switch","z":"f9bc0030.d8095","name":"Day / Night","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"morning|day","vt":"str","case":true},{"t":"regex","v":"evening|night","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":60,"wires":[[],[]]},{"id":"c248097f.e54e48","type":"api-current-state","z":"4eea289e.b77d38","name":"Sun Below Horizon?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":680,"wires":[[],["819f6a59.e21888"]]},{"id":"9d7961cd.82349","type":"api-current-state","z":"4eea289e.b77d38","name":"Living Room?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":760,"wires":[[],["2f660ace.788996"]]},{"id":"2f660ace.788996","type":"api-call-service","z":"4eea289e.b77d38","name":"Living Room On","server":"81491f2d.c6cf8","service_domain":"hue","service":"hue_activate_scene","data":"{ \"group_name\": \"Living Room\" , \"scene_name\": \"Morning\" }","mergecontext":"","x":380,"y":760,"wires":[["78d012a8.05a2ac"]]},{"id":"f82465b8.e60af8","type":"api-current-state","z":"4eea289e.b77d38","name":"Hallways?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.hallways","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":170,"y":820,"wires":[[],["474c1331.a345ec"]]},{"id":"63c70a27.693954","type":"api-call-service","z":"4eea289e.b77d38","name":"Hallways On","server":"81491f2d.c6cf8","service_domain":"hue","service":"hue_activate_scene","data":"{ \"group_name\": \"Hallways\" , \"scene_name\": \"Morning\" }","mergecontext":"","x":550,"y":820,"wires":[["135aacff.bf6673"]]},{"id":"5dde6542.5da31c","type":"api-current-state","z":"4eea289e.b77d38","name":"Kitchen?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":880,"wires":[[],["785dc176.38871"]]},{"id":"7e510d8b.65a974","type":"api-call-service","z":"4eea289e.b77d38","name":"Kitchen On","server":"81491f2d.c6cf8","service_domain":"hue","service":"hue_activate_scene","data":"{ \"group_name\": \"Kitchen\" , \"scene_name\": \"Morning\" }","mergecontext":"","x":690,"y":880,"wires":[["443e3979.456c58"]]},{"id":"3990aa11.7019d6","type":"api-call-service","z":"4eea289e.b77d38","name":"Living Room Off","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.living_room\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":780,"y":760,"wires":[[]]},{"id":"939029b2.61b348","type":"stoptimer","z":"4f666315.2afffc","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":300,"y":560,"wires":[["2ae3a33e.50fc0c"],[]]},{"id":"ba6f5623.ce14c8","type":"comment","z":"4f666315.2afffc","name":"Downstairs Toilet Light","info":"","x":140,"y":440,"wires":[]},{"id":"49608464.369ebc","type":"server-state-changed","z":"7afe1c1c.fc2824","name":"Hair Straigtheners On?","server":"81491f2d.c6cf8","entityidfilter":"switch.hair_straighteners","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"off","outputs":1,"x":140,"y":240,"wires":[["784c3e2e.96c62"]]},{"id":"784c3e2e.96c62","type":"stoptimer","z":"7afe1c1c.fc2824","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":240,"wires":[["180aa258.bfe74e"],[]]},{"id":"180aa258.bfe74e","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Turn Off","server":"81491f2d.c6cf8","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.hair_straighteners\" }","mergecontext":"","x":540,"y":240,"wires":[[]]},{"id":"85904b1c.fb2328","type":"comment","z":"7afe1c1c.fc2824","name":"Hair Straighteners","info":"","x":130,"y":200,"wires":[]},{"id":"8af4a119.b8eae","type":"api-current-state","z":"64b187a2.412488","name":"Day Phase","server":"81491f2d.c6cf8","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.day_phase","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":40,"wires":[["25dea565.5bff4a"]]},{"id":"d87201e6.801af","type":"api-call-service","z":"4f666315.2afffc","name":"Toilet Off","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.toilet\" }","mergecontext":"","x":640,"y":560,"wires":[[]]},{"id":"d6db129f.ed542","type":"server-state-changed","z":"4f666315.2afffc","name":"Toilet Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.toilet_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":520,"wires":[["939029b2.61b348","14781c37.2a5ed4"]]},{"id":"5824fe27.8c96","type":"comment","z":"3bd8c115.3e42ae","name":"Kitchen Lights","info":"","x":110,"y":40,"wires":[]},{"id":"c15c42eb.b3e5a","type":"comment","z":"4eea289e.b77d38","name":"Backdoor Presence Simulation","info":"","x":170,"y":640,"wires":[]},{"id":"94dab676.4ad188","type":"server-state-changed","z":"4eea289e.b77d38","name":"Front Door Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.ring_front_door_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":80,"wires":[["a9d06255.e3748"]]},{"id":"3b04cf72.00a2d","type":"stoptimer","z":"4eea289e.b77d38","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":620,"y":180,"wires":[["952c9b22.6293c8"],[]]},{"id":"952c9b22.6293c8","type":"api-call-service","z":"4eea289e.b77d38","name":"Porch Off","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.porch\" }","mergecontext":"","x":800,"y":180,"wires":[[]]},{"id":"f78c0048.bbc4d","type":"api-call-service","z":"4eea289e.b77d38","name":"Porch On","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.porch\" }","mergecontext":"","x":800,"y":100,"wires":[[]]},{"id":"788ca90.c97de58","type":"api-current-state","z":"4eea289e.b77d38","name":"Sun?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":100,"wires":[[],["f78c0048.bbc4d"]]},{"id":"14e9f40b.b9869c","type":"comment","z":"4eea289e.b77d38","name":"Porch Light","info":"","x":110,"y":40,"wires":[]},{"id":"4193b62b.d94838","type":"server-state-changed","z":"4eea289e.b77d38","name":"Entrance Hall Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.entrance_hall_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":140,"wires":[["a9d06255.e3748"]]},{"id":"a9d06255.e3748","type":"subflow:da409f68.5a74d","z":"4eea289e.b77d38","name":"","env":[],"x":415,"y":140,"wires":[["3b04cf72.00a2d","788ca90.c97de58"]],"l":false},{"id":"863e4a5b.97e1c8","type":"server-state-changed","z":"3bd8c115.3e42ae","name":"House Target Temperature","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.house_thermostat_target","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":150,"y":580,"wires":[["168ab1a8.1438be"]]},{"id":"43cce034.bc446","type":"api-call-service","z":"3bd8c115.3e42ae","name":"Set Kitchen Target Temperature","server":"81491f2d.c6cf8","service_domain":"climate","service":"set_temperature","data":"{}","mergecontext":"","x":610,"y":580,"wires":[[]]},{"id":"12518cf5.ac02e3","type":"comment","z":"3bd8c115.3e42ae","name":"Heater Sync","info":"","x":110,"y":540,"wires":[]},{"id":"c411eed4.62bb8","type":"server-state-changed","z":"3bd8c115.3e42ae","name":"Kitchen Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.kitchen_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":740,"wires":[["1f2a794c.a93497","6d207210.42d85c"]]},{"id":"1f2a794c.a93497","type":"stoptimer","z":"3bd8c115.3e42ae","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":320,"y":780,"wires":[["167466e5.f32d29"],[]]},{"id":"478ae580.a37bcc","type":"api-call-service","z":"3bd8c115.3e42ae","name":"Heater Off","server":"81491f2d.c6cf8","service_domain":"climate","service":"turn_off","data":"{ \"entity_id\": \"climate.kitchen\" }","mergecontext":"","x":670,"y":780,"wires":[[]]},{"id":"168ab1a8.1438be","type":"function","z":"3bd8c115.3e42ae","name":"Temperature","func":"\nmsg.payload = { \n    data: {\n        entity_id: \"climate.kitchen\",\n        temperature: msg.payload\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":580,"wires":[["43cce034.bc446"]]},{"id":"6d207210.42d85c","type":"api-call-service","z":"3bd8c115.3e42ae","name":"Heater On","server":"81491f2d.c6cf8","service_domain":"climate","service":"turn_on","data":"{ \"entity_id\": \"climate.kitchen\" }","mergecontext":"","x":310,"y":700,"wires":[[]]},{"id":"80bf559b.148c48","type":"comment","z":"3bd8c115.3e42ae","name":"Heater On / Off","info":"","x":120,"y":660,"wires":[]},{"id":"39e5d222.c3ff0e","type":"api-current-state","z":"3bd8c115.3e42ae","name":"Lights?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":140,"wires":[[],["c9d0fa4e.885338"]]},{"id":"e6293c9f.4332d","type":"inject","z":"3bd8c115.3e42ae","name":"Run at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":480,"y":840,"wires":[["478ae580.a37bcc"]]},{"id":"a4317b6a.9ffe28","type":"inject","z":"7afe1c1c.fc2824","name":"Run at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":320,"y":140,"wires":[["21a48853.592398"]]},{"id":"2ae3a33e.50fc0c","type":"api-current-state","z":"4f666315.2afffc","name":"Motion?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.toilet_motion_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":560,"wires":[[],["d87201e6.801af"]]},{"id":"167466e5.f32d29","type":"api-current-state","z":"3bd8c115.3e42ae","name":"Motion?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.kitchen_motion_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":780,"wires":[[],["478ae580.a37bcc"]]},{"id":"2c901060.95f96","type":"server-state-changed","z":"4eea289e.b77d38","name":"Dan's Phone","server":"81491f2d.c6cf8","version":1,"entityidfilter":"device_tracker.dphone","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":110,"y":200,"wires":[["db588c.ebbc3778"]]},{"id":"a81a4472.d5e048","type":"server-state-changed","z":"4eea289e.b77d38","name":"Lauren's Phone","server":"81491f2d.c6cf8","version":1,"entityidfilter":"device_tracker.laurens_iphone","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":260,"wires":[["db588c.ebbc3778"]]},{"id":"db588c.ebbc3778","type":"switch","z":"4eea289e.b77d38","name":"Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":240,"wires":[["a9d06255.e3748"]]},{"id":"84dc56fe.709d28","type":"server-state-changed","z":"3bd8c115.3e42ae","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.day_phase","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":80,"wires":[["e513fb69.acddf8"]]},{"id":"134600fd.fb42c7","type":"server-state-changed","z":"4eea289e.b77d38","name":"Back Door Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.ring_back_door_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":true,"x":130,"y":680,"wires":[["c248097f.e54e48"]]},{"id":"606fff3b.0a1ad","type":"api-call-service","z":"ce7797ed.a4f218","name":"Node Red Heartbeat","server":"81491f2d.c6cf8","service_domain":"input_boolean","service":"toggle","data":"{ \"entity_id\": \"input_boolean.node_red_heartbeat\" }","mergecontext":"","x":560,"y":160,"wires":[[]]},{"id":"85737416.e69e78","type":"inject","z":"ce7797ed.a4f218","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"5","x":170,"y":100,"wires":[["b99bc072.bf14d","e06b2a6.1a502d8"]]},{"id":"82c11d0.0eec2e","type":"comment","z":"ce7797ed.a4f218","name":"Node Red Heartbeat","info":"","x":130,"y":60,"wires":[]},{"id":"b99bc072.bf14d","type":"stoptimer","z":"ce7797ed.a4f218","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":340,"y":160,"wires":[["606fff3b.0a1ad"],[]]},{"id":"6a15c566.d46a9c","type":"server-state-changed","z":"ce7797ed.a4f218","name":"Node Red Heartbeat","server":"81491f2d.c6cf8","entityidfilter":"input_boolean.node_red_heartbeat","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":130,"y":160,"wires":[["b99bc072.bf14d"]]},{"id":"e06b2a6.1a502d8","type":"api-call-service","z":"ce7797ed.a4f218","name":"Notify Dan","server":"81491f2d.c6cf8","service_domain":"notify","service":"ios_dphone","data":"{ \"message\": \"Node-RED coming online!\" }","mergecontext":"","x":330,"y":100,"wires":[[]]},{"id":"f9756f2e.a1eef","type":"http request","z":"ce7797ed.a4f218","name":"Reboot Host","method":"GET","ret":"txt","url":"http://hassio/host/reboot","tls":"","x":550,"y":420,"wires":[["5c4d0604.b8e6a8"]]},{"id":"51cf1b16.32ec54","type":"inject","z":"ce7797ed.a4f218","name":"HASSIO_TOKEN","topic":"","payload":"HASSIO_TOKEN","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[["432de28f.85bc8c"]]},{"id":"5c4d0604.b8e6a8","type":"debug","z":"ce7797ed.a4f218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":420,"wires":[]},{"id":"432de28f.85bc8c","type":"function","z":"ce7797ed.a4f218","name":"Set X-HASSIO-KEY","func":"\nmsg.headers = {};\nmsg.headers['X-HASSIO-KEY'] = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["f9756f2e.a1eef"]]},{"id":"455c1235.9adf3c","type":"comment","z":"ce7797ed.a4f218","name":"Reboot Home Assistant","info":"","x":140,"y":380,"wires":[]},{"id":"7dd6770c.8abe98","type":"inject","z":"ce7797ed.a4f218","name":"Sunday @ 4am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 04 * * 0","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["d9a7a486.993e78"]]},{"id":"8c66ad9e.c438a","type":"api-call-service","z":"ce7797ed.a4f218","name":"Upload","server":"81491f2d.c6cf8","service_domain":"hassio","service":"addon_stdin","data":"{\"addon\":\"7be23ff5_dropbox_sync\",\"input\":{\"command\":\"upload\"}}","mergecontext":"","x":680,"y":300,"wires":[[]]},{"id":"d9a7a486.993e78","type":"api-call-service","z":"ce7797ed.a4f218","name":"Snapshot","server":"81491f2d.c6cf8","service_domain":"hassio","service":"snapshot_full","data":"","mergecontext":"","x":320,"y":300,"wires":[["98a2fa83.f07098"]]},{"id":"98a2fa83.f07098","type":"stoptimer","z":"ce7797ed.a4f218","duration":"10","units":"Minute","payloadtype":"bool","payloadval":"true","name":"","x":500,"y":300,"wires":[[],["8c66ad9e.c438a"]]},{"id":"2df45351.8259ec","type":"comment","z":"ce7797ed.a4f218","name":"Backup Hassio","info":"","x":120,"y":260,"wires":[]},{"id":"b79c06d8.22fd38","type":"stoptimer","z":"4f666315.2afffc","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":240,"wires":[["1f068612.682a3a"],[]]},{"id":"e445e789.1c29e8","type":"api-call-service","z":"4f666315.2afffc","name":"Lights Off","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.hallways\" }","mergecontext":"","x":800,"y":240,"wires":[[]]},{"id":"b06b1d9f.443e4","type":"comment","z":"4f666315.2afffc","name":"Hallway Lights","info":"","x":120,"y":40,"wires":[]},{"id":"ae9606df.f42f48","type":"api-current-state","z":"4f666315.2afffc","name":"Lights?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.hallways","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":160,"wires":[[],["eb2c2188.be9e9"]]},{"id":"1f068612.682a3a","type":"api-current-state","z":"4f666315.2afffc","name":"Motion?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.house_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":240,"wires":[[],["e445e789.1c29e8"]]},{"id":"41c14e5c.35e53","type":"server-state-changed","z":"4f666315.2afffc","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.day_phase","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":80,"wires":[["f3f749f5.e27648"]]},{"id":"e513fb69.acddf8","type":"api-current-state","z":"3bd8c115.3e42ae","name":"Lights?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":80,"wires":[["c9d0fa4e.885338"],[]]},{"id":"f3f749f5.e27648","type":"api-current-state","z":"4f666315.2afffc","name":"Lights?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.hallways","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":80,"wires":[["eb2c2188.be9e9"],[]]},{"id":"21d34294.d5f9de","type":"server-state-changed","z":"7afe1c1c.fc2824","name":"Occupied","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.occupied","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":460,"wires":[["c2a35053.275d2"]]},{"id":"c2a35053.275d2","type":"switch","z":"7afe1c1c.fc2824","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":460,"wires":[["a0b9cacb.4b35a8"],["1adbe8fb.80c517","9087377b.c85888"]]},{"id":"1adbe8fb.80c517","type":"stoptimer","z":"7afe1c1c.fc2824","duration":"18","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":440,"y":460,"wires":[["771053dc.0b281c"],[]]},{"id":"604a446d.ea9b6c","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Away Mode - On","server":"81491f2d.c6cf8","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.away_mode\"}","mergecontext":"","x":830,"y":400,"wires":[[]]},{"id":"a0b9cacb.4b35a8","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Away Mode - Off","server":"81491f2d.c6cf8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.away_mode\" }","mergecontext":"","x":450,"y":400,"wires":[[]]},{"id":"33f03597.e6970a","type":"comment","z":"7afe1c1c.fc2824","name":"Away Mode","info":"","x":110,"y":360,"wires":[]},{"id":"5cf8867c.5c2388","type":"inject","z":"7afe1c1c.fc2824","name":"Run at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":360,"y":280,"wires":[["180aa258.bfe74e"]]},{"id":"d628210a.73b2b","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Top Floor Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.top_floor_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":640,"wires":[["b6355d4.19099a","32e9fa0f.91c716"]]},{"id":"32e9fa0f.91c716","type":"stoptimer","z":"4ca21be4.5fec94","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":340,"y":680,"wires":[["d26743e.a4489c"],[]]},{"id":"fcec50b5.8a6ad","type":"api-call-service","z":"4ca21be4.5fec94","name":"Lights Off","server":"81491f2d.c6cf8","version":"1","service_domain":"light","service":"turn_off","entityId":"light.top_floor_landing","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":680,"wires":[[]]},{"id":"a807f77a.dba4a8","type":"comment","z":"4ca21be4.5fec94","name":"Top Floor Landing Lights","info":"","x":150,"y":480,"wires":[]},{"id":"b6355d4.19099a","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.top_floor_landing","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":600,"wires":[[],["93244dc5.301bc"]]},{"id":"d26743e.a4489c","type":"api-current-state","z":"4ca21be4.5fec94","name":"Motion?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.top_floor_motion_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":680,"wires":[[],["fcec50b5.8a6ad"]]},{"id":"ed52405c.05a6d","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.day_phase","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":520,"wires":[["213cc683.78a59a"]]},{"id":"213cc683.78a59a","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.top_floor_landing","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":520,"wires":[["93244dc5.301bc"],[]]},{"id":"93244dc5.301bc","type":"api-current-state","z":"4ca21be4.5fec94","name":"Night Mode Off?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":560,"wires":[[],["cadf3541.05a3c8"]]},{"id":"9c1b26.4226e4d8","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Top Floor Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.top_floor_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":980,"wires":[["41eaee8f.91c56","e02eabd.6952a58"]]},{"id":"e02eabd.6952a58","type":"stoptimer","z":"4ca21be4.5fec94","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":340,"y":1020,"wires":[["e7fee676.bdcd18"],[]]},{"id":"361bcd57.f74992","type":"api-call-service","z":"4ca21be4.5fec94","name":"Lights Off","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.dressing_room\" }","mergecontext":"","x":680,"y":1020,"wires":[[]]},{"id":"a2ab0132.a7928","type":"comment","z":"4ca21be4.5fec94","name":"Dressing Room Lights","info":"","x":140,"y":760,"wires":[]},{"id":"41eaee8f.91c56","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.dressing_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":940,"wires":[[],["8df2ec6e.91e5b"]]},{"id":"e7fee676.bdcd18","type":"api-current-state","z":"4ca21be4.5fec94","name":"Motion?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.top_floor_motion_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":1020,"wires":[[],["361bcd57.f74992"]]},{"id":"3369f549.bf22ca","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.day_phase","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":860,"wires":[["89bbce81.c1318"]]},{"id":"89bbce81.c1318","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.dressing_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":860,"wires":[["8df2ec6e.91e5b"],[]]},{"id":"8df2ec6e.91e5b","type":"api-current-state","z":"4ca21be4.5fec94","name":"Night Mode?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":900,"wires":[["cc0f0d63.5b277"],["c35ab478.d2f3c8"]]},{"id":"ec9ff3cf.7eee","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Dressing Room Lights","server":"81491f2d.c6cf8","version":1,"entityidfilter":"light.dressing_room","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":320,"y":800,"wires":[["8df2ec6e.91e5b"],[]]},{"id":"f4aade06.0f93c","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Bathroom Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.bathroom_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":1320,"wires":[["b3b0658e.e8b608","3eeec1f3.36975e"]]},{"id":"b3b0658e.e8b608","type":"stoptimer","z":"4ca21be4.5fec94","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":340,"y":1360,"wires":[["52ecb921.fa1138"],[]]},{"id":"5d92cc89.b354b4","type":"api-call-service","z":"4ca21be4.5fec94","name":"Lights Off","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.bathroom\" }","mergecontext":"","x":700,"y":1360,"wires":[[]]},{"id":"eb2f6f16.8510e","type":"comment","z":"4ca21be4.5fec94","name":"Bathroom Lights","info":"","x":120,"y":1100,"wires":[]},{"id":"52ecb921.fa1138","type":"api-current-state","z":"4ca21be4.5fec94","name":"Motion Off?","server":"81491f2d.c6cf8","version":0,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.top_floor_motion_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":1360,"wires":[["5d92cc89.b354b4"],[]]},{"id":"c48cdc4d.6d59a","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.day_phase","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":1200,"wires":[["7c0893d7.73246c"]]},{"id":"7c0893d7.73246c","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.bathroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":1200,"wires":[["1a796d38.8e3c83"],[]]},{"id":"66e73bbb.803434","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Bedroom Lights On","server":"81491f2d.c6cf8","version":"1","entityidfilter":"light.bedroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":290,"y":1520,"wires":[[],["ef08c2a1.96db7"]]},{"id":"5c079002.14ace","type":"comment","z":"4ca21be4.5fec94","name":"Bedroom Lights","info":"","x":120,"y":1480,"wires":[]},{"id":"f37e0d3e.a9c39","type":"api-current-state","z":"4eea289e.b77d38","name":"Away?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.away_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":880,"wires":[[],["7e510d8b.65a974"]]},{"id":"f2654858.3abdd8","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Ensuite Lights On","server":"81491f2d.c6cf8","entityidfilter":"light.ensuite","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":310,"y":1760,"wires":[["29577965.782536"],[]]},{"id":"fffe9a4f.648eb8","type":"comment","z":"4ca21be4.5fec94","name":"Ensuite Lights","info":"","x":110,"y":1720,"wires":[]},{"id":"c6d53e80.b21b4","type":"api-call-service","z":"3bd8c115.3e42ae","name":"Kitchen Speaker","server":"81491f2d.c6cf8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.kitchen_speaker\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":760,"y":380,"wires":[[]]},{"id":"7826a21.d40925c","type":"function","z":"3bd8c115.3e42ae","name":"Target Volume","func":"const noSpeakers = 3\n\nconst previousTarget = context.get(\"previousTarget\")\n\nconst newVolume = msg.data.new_state.attributes.volume_level\nconst oldVolume = msg.data.old_state.attributes.volume_level\n\nconst newTarget = (newVolume * noSpeakers) - (oldVolume * (noSpeakers - 1))\n\nmsg.payload =  {\n    debug: {\n        oldVolume, \n        newVolume, \n        previousTarget, \n        newTarget\n    },\n    data: {\n        volume_level: newTarget\n    }\n}\n\ncontext.set(\"previousTarget\", newTarget)\n\nif (!previousTarget || Math.abs(newVolume-previousTarget) > 0.025) \n    return [msg, null];\nelse\n    return [null, msg];\n\n","outputs":2,"noerr":0,"x":520,"y":380,"wires":[["4dda6aad.e20644","c6d53e80.b21b4","67eca2de.54ebec"],[]]},{"id":"a01c8e2e.526e7","type":"comment","z":"3bd8c115.3e42ae","name":"Sync Kitchen Speakers","info":"","x":140,"y":320,"wires":[]},{"id":"a5d6ad3d.ac5e7","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Bathroom Lights On","server":"81491f2d.c6cf8","version":"1","entityidfilter":"light.bathroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":310,"y":1140,"wires":[["1a796d38.8e3c83"],[]]},{"id":"c0728bf3.a299d8","type":"api-current-state","z":"7afe1c1c.fc2824","name":"Away Mode?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":310,"y":680,"wires":[["3c4fe02d.17d2"],[]]},{"id":"7dba9baa.868134","type":"subflow:64b187a2.412488","z":"7afe1c1c.fc2824","name":"","x":730,"y":760,"wires":[["5a8874ac.8347bc"]]},{"id":"5a8874ac.8347bc","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Set Scene","server":"81491f2d.c6cf8","service_domain":"hue","service":"hue_activate_scene","data":"{}","mergecontext":"","x":930,"y":760,"wires":[[]]},{"id":"2ed809fa.2f2af6","type":"api-current-state","z":"7afe1c1c.fc2824","name":"Sun Below Horizon?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":760,"wires":[[],["7dba9baa.868134"]]},{"id":"672282a3.2cfdfc","type":"switch","z":"7afe1c1c.fc2824","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":760,"wires":[["2ed809fa.2f2af6"],["b23ec25d.6c35c"]]},{"id":"b23ec25d.6c35c","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Turn Off","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"input_boolean.night_mode\"}","mergecontext":"","x":460,"y":820,"wires":[[]]},{"id":"3c4fe02d.17d2","type":"function","z":"7afe1c1c.fc2824","name":"Get Room","func":"const regex = /^sensor\\.replay_(.*)$/gm;\nconst match = regex.exec(msg.topic)\n\nmsg.room = match[1]\nmsg.payload = {\n    data: {\n        entity_id: `light.${msg.room}`\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":680,"wires":[["672282a3.2cfdfc"]]},{"id":"43d9a765.8b9648","type":"server-state-changed","z":"7afe1c1c.fc2824","name":"Replay Sensors","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.replay_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":680,"wires":[["c0728bf3.a299d8"]]},{"id":"ba6ad983.a18ea8","type":"comment","z":"7afe1c1c.fc2824","name":"Presence Simulation","info":"","x":130,"y":640,"wires":[]},{"id":"1daa24e8.8d478b","type":"function","z":"3bd8c115.3e42ae","name":"Target Volume","func":"const noSpeakers = 2\n\nconst previousTarget = context.get(\"previousTarget\")\n\nconst newVolume = msg.data.new_state.attributes.volume_level\nconst oldVolume = msg.data.old_state.attributes.volume_level\n\nconst newTarget = (newVolume * noSpeakers) - (oldVolume * (noSpeakers - 1))\n\nmsg.payload =  {\n    debug: {\n        oldVolume, \n        newVolume, \n        previousTarget, \n        newTarget\n    },\n    data: {\n        volume_level: newTarget\n    }\n}\n\ncontext.set(\"previousTarget\", newTarget)\n\nif (!previousTarget || Math.abs(newVolume-previousTarget) > 0.025)\n    return [msg, null];\nelse\n    return [null, msg];\n\n","outputs":2,"noerr":0,"x":520,"y":440,"wires":[["c6d53e80.b21b4","67eca2de.54ebec"],[]]},{"id":"2399f925.bf6dc6","type":"server-state-changed","z":"3bd8c115.3e42ae","name":"Kitchen Speakers","server":"81491f2d.c6cf8","version":1,"entityidfilter":"media_player.kitchen_speakers","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":120,"y":440,"wires":[["4c7cb004.9a4ac"],[]]},{"id":"1d2ed887.d42507","type":"server-state-changed","z":"3bd8c115.3e42ae","name":"Kitchen Group","server":"81491f2d.c6cf8","version":1,"entityidfilter":"media_player.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":120,"y":380,"wires":[["6a7a4bad.5e87f4"],[]]},{"id":"fe248ee5.f3865","type":"server-state-changed","z":"3bd8c115.3e42ae","name":"Hallway Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.entrance_hall_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":220,"wires":[["39e5d222.c3ff0e","5edcd883.b5d838"]]},{"id":"112b46ab.9fdec9","type":"server-state-changed","z":"3bd8c115.3e42ae","name":"Kitchen Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.kitchen_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":140,"wires":[["39e5d222.c3ff0e","5edcd883.b5d838"]]},{"id":"a9911fb9.e6243","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Notify Dan","server":"81491f2d.c6cf8","service_domain":"notify","service":"ios_dphone","data":"{ \"message\": \"Away Mode activated!\" }","mergecontext":"","x":810,"y":460,"wires":[[]]},{"id":"17ccb9a3.def056","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.day_phase","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":1620,"wires":[["6a1fcd92.c32504"]]},{"id":"8315b729.edd3d8","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Day Phase Changed","server":"81491f2d.c6cf8","entityidfilter":"sensor.day_phase","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":130,"y":1840,"wires":[["cb684007.ad7ca"]]},{"id":"cb684007.ad7ca","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights On?","server":"81491f2d.c6cf8","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"light.ensuite","override_payload":true,"override_data":true,"x":330,"y":1840,"wires":[["29577965.782536"]]},{"id":"1dd733cd.03b3ec","type":"comment","z":"ef1c2144.74e1","name":"Guest Ensuite Lights","info":"","x":130,"y":60,"wires":[]},{"id":"a89b270a.465a58","type":"subflow:64b187a2.412488","z":"ef1c2144.74e1","name":"","x":530,"y":140,"wires":[["26516b31.b3fad4"]]},{"id":"26516b31.b3fad4","type":"api-call-service","z":"ef1c2144.74e1","name":"Set Scene","server":"81491f2d.c6cf8","service_domain":"hue","service":"hue_activate_scene","data":"{}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":730,"y":140,"wires":[["a1057d1f.17c99"]]},{"id":"e27c4c5f.872bb","type":"api-current-state","z":"7afe1c1c.fc2824","name":"Away Mode On?","server":"81491f2d.c6cf8","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.away_mode","override_payload":false,"x":350,"y":880,"wires":[["653e6b2f.931eb4"]]},{"id":"990e1cac.d6a09","type":"server-state-changed","z":"7afe1c1c.fc2824","name":"Sun Above Horizon","server":"81491f2d.c6cf8","entityidfilter":"sensor.replay_","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"below_horizon","outputs":1,"x":130,"y":880,"wires":[["e27c4c5f.872bb"]]},{"id":"653e6b2f.931eb4","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Turn Off All Lights","server":"81491f2d.c6cf8","service_domain":"group","service":"turn_off","data":"{\"entity_id\":\"group.all_lights\"}","mergecontext":"","x":570,"y":880,"wires":[[]]},{"id":"f45a93b.1d9fd7","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Everything Off","server":"81491f2d.c6cf8","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.everything_off\" }","mergecontext":"","x":820,"y":520,"wires":[[]]},{"id":"73b48259.d5d87c","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Notify Dan","server":"81491f2d.c6cf8","service_domain":"notify","service":"ios_dphone","data":"{ \"message\": \"Turning everything off!\" }","mergecontext":"","x":810,"y":580,"wires":[[]]},{"id":"771053dc.0b281c","type":"api-current-state","z":"7afe1c1c.fc2824","name":"Home?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.occupied","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":620,"y":460,"wires":[[],["a9911fb9.e6243","604a446d.ea9b6c"]]},{"id":"a0b0589e.7d32a8","type":"subflow:64b187a2.412488","z":"ef1c2144.74e1","name":"","x":530,"y":360,"wires":[["be98cba7.918d08"]]},{"id":"be98cba7.918d08","type":"api-call-service","z":"ef1c2144.74e1","name":"Set Scene","server":"81491f2d.c6cf8","service_domain":"hue","service":"hue_activate_scene","data":"{}","mergecontext":"","x":730,"y":360,"wires":[["599bef76.4f877"]]},{"id":"b0d629be.1e99b8","type":"server-state-changed","z":"ef1c2144.74e1","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.day_phase","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":400,"wires":[["e82f543b.292b58"]]},{"id":"e82f543b.292b58","type":"api-current-state","z":"ef1c2144.74e1","name":"Lights On?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.guest_ensuite","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":400,"wires":[[],["a0b0589e.7d32a8"]]},{"id":"91e1d7bc.586ce8","type":"comment","z":"ef1c2144.74e1","name":"Guest Room Lights","info":"","x":130,"y":280,"wires":[]},{"id":"20494f76.baa0b","type":"server-state-changed","z":"ef1c2144.74e1","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.day_phase","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":180,"wires":[["6282df61.8b69b"]]},{"id":"6282df61.8b69b","type":"api-current-state","z":"ef1c2144.74e1","name":"Lights On?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.guest_ensuite","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":180,"wires":[[],["a89b270a.465a58"]]},{"id":"657b6d10.860484","type":"api-current-state","z":"7afe1c1c.fc2824","name":"Home?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.occupied","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":620,"y":520,"wires":[[],["f45a93b.1d9fd7","73b48259.d5d87c"]]},{"id":"9087377b.c85888","type":"stoptimer","z":"7afe1c1c.fc2824","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":520,"wires":[["657b6d10.860484"],[]]},{"id":"7137d828.90fa68","type":"server-state-changed","z":"ef1c2144.74e1","name":"Guest Ensuite Lights On","server":"81491f2d.c6cf8","version":"1","entityidfilter":"light.guest_ensuite","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":290,"y":100,"wires":[[],["a89b270a.465a58"]]},{"id":"83588b7.3763578","type":"server-state-changed","z":"ef1c2144.74e1","name":"Guest Room Lights On","server":"81491f2d.c6cf8","version":"1","entityidfilter":"light.guest_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":300,"y":320,"wires":[[],["a0b0589e.7d32a8"]]},{"id":"4c7cb004.9a4ac","type":"stoptimer","z":"3bd8c115.3e42ae","duration":"3","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":320,"y":440,"wires":[["1daa24e8.8d478b"],[]]},{"id":"6a7a4bad.5e87f4","type":"stoptimer","z":"3bd8c115.3e42ae","duration":"3","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":320,"y":380,"wires":[["7826a21.d40925c"],[]]},{"id":"67eca2de.54ebec","type":"api-call-service","z":"3bd8c115.3e42ae","name":"Portable Speaker","server":"81491f2d.c6cf8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.portable_speaker\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":440,"wires":[[]]},{"id":"4dda6aad.e20644","type":"api-call-service","z":"3bd8c115.3e42ae","name":"Kitchen Display","server":"81491f2d.c6cf8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.kitchen_display\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":760,"y":320,"wires":[[]]},{"id":"602c76c1.9e91d8","type":"function","z":"e8e1522.0dab4b","name":"Hue Scene","func":"const dayPhase = msg.payload\n\nmsg.payload = { \n    data: {\n        scene_name: dayPhase,\n        group_name: env.get(\"group_name\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":40,"wires":[["ad0dbd05.a5e14"]]},{"id":"15d91635.07a43a","type":"api-current-state","z":"e8e1522.0dab4b","name":"Day Phase","server":"81491f2d.c6cf8","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.day_phase","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":170,"y":40,"wires":[["602c76c1.9e91d8","96a81310.f751a"]]},{"id":"5edcd883.b5d838","type":"stoptimer","z":"3bd8c115.3e42ae","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":340,"y":220,"wires":[["b39a361a.a91488"],[]]},{"id":"77562f5a.39f14","type":"api-call-service","z":"3bd8c115.3e42ae","name":"Kitchen Off","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kitchen\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":690,"y":220,"wires":[[]]},{"id":"b39a361a.a91488","type":"api-current-state","z":"3bd8c115.3e42ae","name":"Motion?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.kitchen_motion_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":220,"wires":[[],["77562f5a.39f14"]]},{"id":"432f9498.7b934c","type":"server-state-changed","z":"4eea289e.b77d38","name":"Kitchen Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.kitchen_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":440,"wires":[["ee1c366c.9f8af8","2d6f5a31.8076a6"]]},{"id":"ee1c366c.9f8af8","type":"api-current-state","z":"4eea289e.b77d38","name":"Garden Light?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.garden","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":440,"wires":[[],["b35417ce.3ce6c8"]]},{"id":"b35417ce.3ce6c8","type":"api-current-state","z":"4eea289e.b77d38","name":"Sun?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":400,"wires":[[],["4552cadf.e36044"]]},{"id":"f8563748.895cb8","type":"server-state-changed","z":"4eea289e.b77d38","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.day_phase","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":380,"wires":[["a31aa3b.405066"]]},{"id":"a31aa3b.405066","type":"api-current-state","z":"4eea289e.b77d38","name":"Garden?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.garden","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":380,"wires":[["b35417ce.3ce6c8"],[]]},{"id":"3f08199b.a0f396","type":"api-call-service","z":"4eea289e.b77d38","name":"Garden Off","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.garden\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":500,"wires":[[]]},{"id":"2d6f5a31.8076a6","type":"stoptimer","z":"4eea289e.b77d38","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":500,"wires":[["c499cbae.3868a8"],[]]},{"id":"c499cbae.3868a8","type":"api-current-state","z":"4eea289e.b77d38","name":"Motion?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.kitchen_motion_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":500,"wires":[[],["3f08199b.a0f396"]]},{"id":"6037be0.e539944","type":"server-state-changed","z":"4eea289e.b77d38","name":"Sun Rise","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sun.sun","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"above_horizon","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":540,"y":560,"wires":[[],["3f08199b.a0f396"]]},{"id":"e41bee4d.1e62f","type":"comment","z":"4eea289e.b77d38","name":"Garden Lights","info":"","x":110,"y":340,"wires":[]},{"id":"a1057d1f.17c99","type":"debug","z":"ef1c2144.74e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":140,"wires":[]},{"id":"599bef76.4f877","type":"debug","z":"ef1c2144.74e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":360,"wires":[]},{"id":"5cb02572.958eec","type":"server-state-changed","z":"ce61c348.0d296","name":"Living Room Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.living_room_motion_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":230,"y":220,"wires":[["5bd1ed8b.e64bf4","6145636a.c4dc1c"]]},{"id":"5bd1ed8b.e64bf4","type":"api-current-state","z":"ce61c348.0d296","name":"Lights Off?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"entity_id":"light.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":220,"wires":[[],["5d9994cd.f0620c"]]},{"id":"fdc07dc0.2f363","type":"subflow:e8e1522.0dab4b","z":"ce61c348.0d296","name":"","env":[{"name":"group_name","type":"str","value":"Living Room"}],"x":720,"y":220,"wires":[[]]},{"id":"8fa01d99.8bd43","type":"server-state-changed","z":"ce61c348.0d296","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.day_phase","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":80,"wires":[["de63f8ef.3f2d38"]]},{"id":"6145636a.c4dc1c","type":"stoptimer","z":"ce61c348.0d296","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":280,"wires":[["2b671020.4d39"],[]]},{"id":"459e3104.aae92","type":"api-call-service","z":"ce61c348.0d296","name":"Living Room Off","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.living_room\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":820,"y":280,"wires":[["b3f81398.1036e"]]},{"id":"2b671020.4d39","type":"api-current-state","z":"ce61c348.0d296","name":"Motion Off?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.living_room_motion_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":280,"wires":[[],["459e3104.aae92","feba66fa.37f0a8"]]},{"id":"408f1cef.d809e4","type":"api-call-service","z":"ce61c348.0d296","name":"Fairy Lights On","server":"81491f2d.c6cf8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.living_room_fairy_lights\"}","mergecontext":"","output_location":"","output_location_type":"none","x":900,"y":140,"wires":[[]]},{"id":"32bd5b4.d23aaa4","type":"api-call-service","z":"ce61c348.0d296","name":"Fairy Lights Off","server":"81491f2d.c6cf8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.living_room_fairy_lights\"}","mergecontext":"","output_location":"","output_location_type":"none","x":900,"y":60,"wires":[[]]},{"id":"feba66fa.37f0a8","type":"api-call-service","z":"ce61c348.0d296","name":"Fairy Lights Off","server":"81491f2d.c6cf8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.living_room_fairy_lights\"}","mergecontext":"","output_location":"","output_location_type":"none","x":820,"y":340,"wires":[[]]},{"id":"9fddf226.17a09","type":"trigger-state","z":"ce61c348.0d296","name":"Play PS4","server":"81491f2d.c6cf8","entityid":"remote.living_room_tv","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"8dxyhqctwqu","targetType":"this_entity","targetValue":"","propertyType":"property","propertyValue":"new_state.attributes.current_activity","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Play PS4"},{"id":"bhkm7mp6fwd","targetType":"this_entity","targetValue":"","propertyType":"property","propertyValue":"old_state.attributes.current_activity","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Play PS4"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":1200,"wires":[["bcdbf85f.7f7938"],[]]},{"id":"bcdbf85f.7f7938","type":"api-call-service","z":"ce61c348.0d296","name":"PS4 On","server":"81491f2d.c6cf8","service_domain":"media_player","service":"turn_on","data":"{\"entity_id\":\"media_player.playstation_4\"}","mergecontext":"","output_location":"","output_location_type":"none","x":260,"y":1200,"wires":[[]]},{"id":"5cb104bb.dc7cfc","type":"server-state-changed","z":"ce61c348.0d296","name":"PS4","server":"81491f2d.c6cf8","version":1,"entityidfilter":"media_player.playstation_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":90,"y":1280,"wires":[["ae917af2.811988"],["c5ec7b2a.ae0e18"]]},{"id":"8e5f98a3.996068","type":"api-call-service","z":"ce61c348.0d296","name":"Play PS4","server":"81491f2d.c6cf8","service_domain":"remote","service":"turn_on","data":"{\"entity_id\":\"remote.living_room_tv\",\"activity\":\"Play PS4\"}","mergecontext":"","output_location":"","output_location_type":"none","x":460,"y":1260,"wires":[[]]},{"id":"4fd299c9.096448","type":"api-call-service","z":"ce61c348.0d296","name":"Turn Off TV","server":"81491f2d.c6cf8","service_domain":"remote","service":"turn_off","data":"{\"entity_id\":\"remote.living_room_tv\"}","mergecontext":"","output_location":"","output_location_type":"none","x":710,"y":1320,"wires":[[]]},{"id":"ae917af2.811988","type":"api-current-state","z":"ce61c348.0d296","name":"TV","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"remote.living_room_tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":1260,"wires":[[],["8e5f98a3.996068"]]},{"id":"c5ec7b2a.ae0e18","type":"stoptimer","z":"ce61c348.0d296","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":330,"y":1320,"wires":[["7b9df0d9.b6845"],[]]},{"id":"7b9df0d9.b6845","type":"api-current-state","z":"ce61c348.0d296","name":"Play PS4?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"Play PS4","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.living_room_tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":1320,"wires":[["4fd299c9.096448"],[]]},{"id":"4b99fde7.8783b4","type":"comment","z":"ce61c348.0d296","name":"PS4","info":"","x":90,"y":1160,"wires":[]},{"id":"5d9994cd.f0620c","type":"subflow:da409f68.5a74d","z":"ce61c348.0d296","name":"","env":[],"x":555,"y":160,"wires":[["fdc07dc0.2f363","982601a4.0cfe8"]],"l":false},{"id":"3d51cc31.4e2ec4","type":"server-state-changed","z":"ce61c348.0d296","name":"Cinema Mode","server":"81491f2d.c6cf8","version":1,"entityidfilter":"input_boolean.cinema_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":420,"wires":[["d103fd9a.530eb","48c77a9e.32a1d4","43d0d552.34ba2c","539380b2.c6b0f"],["fd41581a.c9ecc8","fd024779.05cdd8"]]},{"id":"fd41581a.c9ecc8","type":"link out","z":"ce61c348.0d296","name":"Reset Lights","links":["f0fc1d58.273d9","c153e9a5.0b2bc8"],"x":195,"y":500,"wires":[]},{"id":"de63f8ef.3f2d38","type":"api-current-state","z":"ce61c348.0d296","name":"Cinema Mode?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.cinema_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":240,"y":160,"wires":[[],["eabfeac0.e41c08"]]},{"id":"bad6120d.880d","type":"comment","z":"ce61c348.0d296","name":"Cinema Mode","info":"","x":110,"y":380,"wires":[]},{"id":"33c07e35.9bb302","type":"comment","z":"ce61c348.0d296","name":"Living Room Lights","info":"","x":130,"y":40,"wires":[]},{"id":"cc0f0d63.5b277","type":"api-call-service","z":"4ca21be4.5fec94","name":"Set Scene \"Bed Time\"","server":"81491f2d.c6cf8","version":"1","service_domain":"hue","service":"hue_activate_scene","entityId":"","data":"{ \"group_name\": \"Dressing Room\", \"scene_name\": \"Bed Time\" }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":860,"wires":[[]]},{"id":"c35ab478.d2f3c8","type":"subflow:e8e1522.0dab4b","z":"4ca21be4.5fec94","name":"","env":[{"name":"group_name","type":"str","value":"Dressing Room"}],"x":740,"y":940,"wires":[[]]},{"id":"2a7475d1.79f8ea","type":"comment","z":"7afe1c1c.fc2824","name":"Top Floor Landing Lights","info":"","x":1070,"y":200,"wires":[]},{"id":"ea8a5464.c5aae8","type":"server-state-changed","z":"4eea289e.b77d38","name":"Back Door Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.ring_back_door_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":true,"x":130,"y":500,"wires":[["ee1c366c.9f8af8","2d6f5a31.8076a6"]]},{"id":"474c1331.a345ec","type":"stoptimer","z":"4eea289e.b77d38","duration":"5","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":360,"y":820,"wires":[["63c70a27.693954"],[]]},{"id":"819f6a59.e21888","type":"link out","z":"4eea289e.b77d38","name":"","links":["8e8c9f22.8befd","4d71976d.fda548","936ac956.f40f18","1aaba12f.18841f"],"x":515,"y":680,"wires":[]},{"id":"8e8c9f22.8befd","type":"link in","z":"4eea289e.b77d38","name":"","links":["819f6a59.e21888"],"x":55,"y":760,"wires":[["9d7961cd.82349"]]},{"id":"4d71976d.fda548","type":"link in","z":"4eea289e.b77d38","name":"","links":["819f6a59.e21888"],"x":55,"y":820,"wires":[["f82465b8.e60af8"]]},{"id":"936ac956.f40f18","type":"link in","z":"4eea289e.b77d38","name":"","links":["819f6a59.e21888"],"x":55,"y":880,"wires":[["5dde6542.5da31c"]]},{"id":"785dc176.38871","type":"stoptimer","z":"4eea289e.b77d38","duration":"15","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":350,"y":880,"wires":[["f37e0d3e.a9c39"],[]]},{"id":"443e3979.456c58","type":"stoptimer","z":"4eea289e.b77d38","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":880,"y":880,"wires":[["79178c01.a11d04"],[]]},{"id":"135aacff.bf6673","type":"stoptimer","z":"4eea289e.b77d38","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":740,"y":820,"wires":[["289e0c9b.ef35b4"],[]]},{"id":"78d012a8.05a2ac","type":"stoptimer","z":"4eea289e.b77d38","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":580,"y":760,"wires":[["3990aa11.7019d6"],[]]},{"id":"4cda5747.0cf938","type":"comment","z":"ce61c348.0d296","name":"SkyQ","info":"","x":90,"y":1400,"wires":[]},{"id":"a9440e5d.e36ee","type":"server-state-changed","z":"ce61c348.0d296","name":"SkyQ","server":"81491f2d.c6cf8","version":1,"entityidfilter":"binary_sensor.living_room_skyq","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":1480,"wires":[["730e02bd.f00c9c"]]},{"id":"9d3858fd.47df78","type":"api-current-state","z":"ce61c348.0d296","name":"Watch TV?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"Watch TV","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.living_room_tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":1520,"wires":[["669d0036.2ffd1"],[]]},{"id":"669d0036.2ffd1","type":"api-call-service","z":"ce61c348.0d296","name":"Turn Off TV","server":"81491f2d.c6cf8","service_domain":"remote","service":"turn_off","data":"{\"entity_id\":\"remote.living_room_tv\"}","mergecontext":"","output_location":"","output_location_type":"none","x":610,"y":1520,"wires":[[]]},{"id":"8bc1e3b4.935a2","type":"server-state-changed","z":"ce61c348.0d296","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.day_phase","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":700,"wires":[["dc3d4b7.ab381b8"]]},{"id":"5db7a634.b0bfd8","type":"comment","z":"ce61c348.0d296","name":"Ambilights","info":"","x":100,"y":660,"wires":[]},{"id":"73040b79.e3d264","type":"server-state-changed","z":"ce61c348.0d296","name":"Living Room Lights","server":"81491f2d.c6cf8","version":"1","entityidfilter":"light.living_room","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":760,"wires":[["dc3d4b7.ab381b8"]]},{"id":"ab5475b3.bf5228","type":"server-state-changed","z":"ce61c348.0d296","name":"Living Room TV","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.living_room_tv","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":140,"y":820,"wires":[["dc3d4b7.ab381b8"]]},{"id":"dc3d4b7.ab381b8","type":"api-current-state","z":"ce61c348.0d296","name":"TV On?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"PowerOff","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"sensor.living_room_tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":760,"wires":[["90acf56f.63c3d8"],["a7969bba.f1a118"]]},{"id":"a7969bba.f1a118","type":"api-current-state","z":"ce61c348.0d296","name":"Lights On?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":780,"wires":[["2e861b2a.4f3694"],["d2fc0100.d9408"]]},{"id":"90acf56f.63c3d8","type":"api-call-service","z":"ce61c348.0d296","name":"HDMI Sync","server":"81491f2d.c6cf8","service_domain":"shell_command","service":"hyperion_ambilight","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":490,"y":720,"wires":[[]]},{"id":"5969d738.5ed7d8","type":"api-call-service","z":"ce61c348.0d296","name":"Standby","server":"81491f2d.c6cf8","service_domain":"shell_command","service":"hyperion_standby","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":860,"y":780,"wires":[[]]},{"id":"210fa109.a3e8be","type":"api-call-service","z":"ce61c348.0d296","name":"Off","server":"81491f2d.c6cf8","service_domain":"shell_command","service":"hyperion_off","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":850,"y":720,"wires":[[]]},{"id":"d2fc0100.d9408","type":"api-call-service","z":"ce61c348.0d296","name":"Off","server":"81491f2d.c6cf8","service_domain":"shell_command","service":"hyperion_off","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":650,"y":840,"wires":[[]]},{"id":"704ab48c.98485c","type":"api-current-state","z":"ce61c348.0d296","name":"Not Watch TV?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"Watch TV","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.living_room_tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":1440,"wires":[[],["d6573797.fbec58"]]},{"id":"d6573797.fbec58","type":"api-call-service","z":"ce61c348.0d296","name":"Watch TV","server":"81491f2d.c6cf8","service_domain":"remote","service":"turn_on","data":"{\"entity_id\":\"remote.living_room_tv\",\"activity\":\"Watch TV\"}","mergecontext":"","output_location":"","output_location_type":"none","x":620,"y":1440,"wires":[[]]},{"id":"9d9abf90.895fb","type":"server-state-changed","z":"ce61c348.0d296","name":"Watch TV","server":"81491f2d.c6cf8","version":1,"entityidfilter":"sensor.living_room_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Watch TV","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":1660,"wires":[["c1eeda4f.77c258"],["17186511.14c47b"]]},{"id":"c1eeda4f.77c258","type":"api-current-state","z":"ce61c348.0d296","name":"SkyQ?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.living_room_skyq","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":1620,"wires":[[],["c4d5f890.848248"]]},{"id":"c4d5f890.848248","type":"api-call-service","z":"ce61c348.0d296","name":"SkyQ Power Toggle","server":"81491f2d.c6cf8","service_domain":"remote","service":"send_command","data":"{\"entity_id\":\"remote.living_room_tv\",\"device\":\"Sky Q\",\"command\":\"PowerToggle\"}","mergecontext":"","output_location":"","output_location_type":"none","x":450,"y":1660,"wires":[[]]},{"id":"17186511.14c47b","type":"api-current-state","z":"ce61c348.0d296","name":"SkyQ?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.living_room_skyq","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":1700,"wires":[["c4d5f890.848248"],[]]},{"id":"823cd678.578818","type":"comment","z":"ce61c348.0d296","name":"TV","info":"","x":90,"y":900,"wires":[]},{"id":"139e7cce.b23773","type":"api-call-service","z":"ce61c348.0d296","name":"Set Volume To 10","server":"81491f2d.c6cf8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.living_room_speakers\",\"volume_level\":\"0.2\"}","mergecontext":"","output_location":"","output_location_type":"none","x":390,"y":960,"wires":[[]]},{"id":"e3867100.ed28f","type":"server-state-changed","z":"ce61c348.0d296","name":"TV Input Changed","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.living_room_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"PowerOff","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":960,"wires":[[],["139e7cce.b23773"]]},{"id":"f0985184.58e46","type":"server-state-changed","z":"ce61c348.0d296","name":"Shield TV Playing","server":"81491f2d.c6cf8","version":1,"entityidfilter":"media_player.shield_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1080,"wires":[["a1db2a7e.5e3398"],[]]},{"id":"a1db2a7e.5e3398","type":"api-call-service","z":"ce61c348.0d296","name":"Watch Shield TV","server":"81491f2d.c6cf8","service_domain":"remote","service":"turn_on","data":"{\"entity_id\":\"remote.living_room_tv\",\"activity\":\"Watch Shield TV\"}","mergecontext":"","output_location":"","output_location_type":"none","x":320,"y":1080,"wires":[[]]},{"id":"730e02bd.f00c9c","type":"switch","z":"ce61c348.0d296","name":"On? / Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":1480,"wires":[["704ab48c.98485c"],["9d3858fd.47df78"]]},{"id":"eabfeac0.e41c08","type":"api-current-state","z":"ce61c348.0d296","name":"Lights On?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":160,"wires":[["5d9994cd.f0620c"],[]]},{"id":"b3f81398.1036e","type":"api-call-service","z":"ce61c348.0d296","name":"Cinema Mode Off","server":"81491f2d.c6cf8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.cinema_mode\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1030,"y":280,"wires":[[]]},{"id":"c153e9a5.0b2bc8","type":"link in","z":"ce61c348.0d296","name":"Reset Lights","links":["fd41581a.c9ecc8"],"x":315,"y":80,"wires":[["eabfeac0.e41c08"]]},{"id":"a3e61755.5a6868","type":"trigger-state","z":"ce61c348.0d296","name":"Living Room Speaker On","server":"81491f2d.c6cf8","entityid":"media_player.living_room_speakers","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"v280fjm3bmi","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"On"},{"id":"ks9w7nfkcd","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Unavailable"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":1020,"wires":[["139e7cce.b23773"],[]]},{"id":"982601a4.0cfe8","type":"subflow:f9bc0030.d8095","z":"ce61c348.0d296","name":"","x":700,"y":100,"wires":[["32bd5b4.d23aaa4"],["408f1cef.d809e4"]]},{"id":"2e861b2a.4f3694","type":"subflow:f9bc0030.d8095","z":"ce61c348.0d296","name":"","x":680,"y":780,"wires":[["210fa109.a3e8be"],["5969d738.5ed7d8"]]},{"id":"ef08c2a1.96db7","type":"api-current-state","z":"4ca21be4.5fec94","name":"Night Mode?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":1580,"wires":[["7ad616e6.7f13f8"],["e04e6ade.157078"]]},{"id":"e04e6ade.157078","type":"subflow:e8e1522.0dab4b","z":"4ca21be4.5fec94","name":"","env":[{"name":"group_name","type":"str","value":"Bedroom"}],"x":720,"y":1620,"wires":[[]]},{"id":"ad0dbd05.a5e14","type":"api-call-service","z":"e8e1522.0dab4b","name":"Set Living Room Scene","server":"81491f2d.c6cf8","service_domain":"hue","service":"hue_activate_scene","data":"{}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":40,"wires":[[]]},{"id":"96a81310.f751a","type":"function","z":"e8e1522.0dab4b","name":"Status Text","func":"const dayPhase = msg.payload\n\nconst months = [\n    \"Jan\",\n    \"Feb\",\n    \"Mar\",\n    \"Apr\",\n    \"May\",\n    \"Jun\",\n    \"Jul\",\n    \"Aug\",\n    \"Sep\",\n    \"Oct\",\n    \"Nov\",\n    \"Dec\"\n];\n\nconst d = new Date();\nconst dateString = `${months[d.getUTCMonth()]} ${d.getDay()}, ${d.getHours()}:${d.getMinutes()}`;\n\nconst statusText = `${dayPhase} set at: ${dateString}`;\n\n\nmsg.payload = {fill:\"green\",shape:\"dot\",text: statusText}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[[]]},{"id":"96f4fceb.1db68","type":"function","z":"f9bc0030.d8095","name":"Status Text","func":"const dayPhase = msg.payload\n\nconst months = [\n    \"Jan\",\n    \"Feb\",\n    \"Mar\",\n    \"Apr\",\n    \"May\",\n    \"Jun\",\n    \"Jul\",\n    \"Aug\",\n    \"Sep\",\n    \"Oct\",\n    \"Nov\",\n    \"Dec\"\n];\n\nconst d = new Date();\nconst dateString = `${months[d.getUTCMonth()]} ${d.getDay()}, ${d.getHours()}:${d.getMinutes()}`;\n\n\nmsg.payload = {\n    fill: dayPhase === \"morning\" || dayPhase === \"day\" ? \"green\" : \"red\",\n    shape:\"dot\", \n    text: `${dayPhase} at: ${dateString}` \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[[]]},{"id":"c9d0fa4e.885338","type":"subflow:e8e1522.0dab4b","z":"3bd8c115.3e42ae","name":"","env":[{"name":"group_name","type":"str","value":"Kitchen"}],"x":540,"y":140,"wires":[[]]},{"id":"eb2c2188.be9e9","type":"subflow:e8e1522.0dab4b","z":"4f666315.2afffc","name":"","env":[{"name":"group_name","type":"str","value":"Hallways"}],"x":660,"y":120,"wires":[[]]},{"id":"6a1fcd92.c32504","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":1620,"wires":[["ef08c2a1.96db7"],[]]},{"id":"cadf3541.05a3c8","type":"subflow:e8e1522.0dab4b","z":"4ca21be4.5fec94","name":"","env":[{"name":"group_name","type":"str","value":"Top Floor Landing"}],"x":760,"y":560,"wires":[[]]},{"id":"d64ebe40.4f93c","type":"api-current-state","z":"ca588edf.4580e","name":"Day Phase","server":"81491f2d.c6cf8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.day_phase","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":100,"wires":[["2834c62.349d93a","45880123.45aac"]]},{"id":"2834c62.349d93a","type":"switch","z":"ca588edf.4580e","name":"Day / Night","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"morning","vt":"str"},{"t":"eq","v":"day","vt":"str"},{"t":"eq","v":"evening","vt":"str"},{"t":"eq","v":"night","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":410,"y":100,"wires":[[],[],[],[]]},{"id":"45880123.45aac","type":"function","z":"ca588edf.4580e","name":"Status Text","func":"const dayPhase = msg.payload\n\nconst months = [\n    \"Jan\",\n    \"Feb\",\n    \"Mar\",\n    \"Apr\",\n    \"May\",\n    \"Jun\",\n    \"Jul\",\n    \"Aug\",\n    \"Sep\",\n    \"Oct\",\n    \"Nov\",\n    \"Dec\"\n];\n\nconst color = {\n    Morning: \"blue\",\n    Day: \"green\",\n    Evening: \"yellow\",\n    Night: \"red\"\n}\n\nconst d = new Date();\nconst dateString = `${months[d.getUTCMonth()]} ${d.getDay()}, ${d.getHours()}:${d.getMinutes()}`;\n\n\nmsg.payload = {\n    fill: color[dayPhase],\n    shape:\"dot\", \n    text: `${dayPhase} at: ${dateString}` \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[[]]},{"id":"14781c37.2a5ed4","type":"subflow:e8e1522.0dab4b","z":"4f666315.2afffc","name":"","env":[{"name":"group_name","type":"str","value":"Toilet"}],"x":320,"y":480,"wires":[[]]},{"id":"f066d2ab.a67b6","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Top Floor Motion","server":"81491f2d.c6cf8","entityidfilter":"binary_sensor.top_floor_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":2140,"wires":[["31d880e8.787","d88dd552.772638"]]},{"id":"d88dd552.772638","type":"stoptimer","z":"4ca21be4.5fec94","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":340,"y":2180,"wires":[["7c8fd6d7.08d9f8"],[]]},{"id":"64186c9a.82e5d4","type":"api-call-service","z":"4ca21be4.5fec94","name":"Lights Off","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.den\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":700,"y":2180,"wires":[[]]},{"id":"2615e935.da0766","type":"comment","z":"4ca21be4.5fec94","name":"Den Lights","info":"","x":100,"y":1920,"wires":[]},{"id":"31d880e8.787","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights Off?","server":"81491f2d.c6cf8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.den","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":2100,"wires":[["4e8bf034.07bee"],[]]},{"id":"7c8fd6d7.08d9f8","type":"api-current-state","z":"4ca21be4.5fec94","name":"Motion Off?","server":"81491f2d.c6cf8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.top_floor_motion_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":2180,"wires":[["64186c9a.82e5d4"],[]]},{"id":"db3d1eb6.bcd48","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Day Phase Changed","server":"81491f2d.c6cf8","entityidfilter":"sensor.day_phase","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":130,"y":2020,"wires":[["8c1de05b.ccee5"]]},{"id":"8c1de05b.ccee5","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights On?","server":"81491f2d.c6cf8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.den","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":2020,"wires":[["4e8bf034.07bee"],[]]},{"id":"4e8bf034.07bee","type":"api-current-state","z":"4ca21be4.5fec94","name":"Night Mode?","server":"81491f2d.c6cf8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","x":520,"y":2060,"wires":[["fb1d4f.5482e2b"],[]]},{"id":"f3e8e063.0939c","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Den Lights","server":"81491f2d.c6cf8","entityidfilter":"light.den","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":340,"y":1960,"wires":[["4e8bf034.07bee"],[]]},{"id":"fb1d4f.5482e2b","type":"subflow:e8e1522.0dab4b","z":"4ca21be4.5fec94","name":"","env":[{"name":"group_name","type":"str","value":"Dressing Room"}],"x":720,"y":2060,"wires":[[]]},{"id":"29577965.782536","type":"subflow:e8e1522.0dab4b","z":"4ca21be4.5fec94","name":"","env":[{"name":"group_name","type":"str","value":"Ensuite"}],"x":540,"y":1800,"wires":[[]]},{"id":"e2e4a8e9.a9e8d8","type":"server-state-changed","z":"4f666315.2afffc","name":"Top Floor Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.top_floor_motion_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":160,"wires":[["6f1c8d64.b35974"]]},{"id":"f470b0dd.87193","type":"server-state-changed","z":"4f666315.2afffc","name":"Living Room Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.living_room_motion_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":220,"wires":[["6f1c8d64.b35974"]]},{"id":"4c19e278.0a8d0c","type":"server-state-changed","z":"4f666315.2afffc","name":"Entrance Hall Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.entrance_hall_motion_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":340,"wires":[["6f1c8d64.b35974"]]},{"id":"7419ecfe.4749b4","type":"server-state-changed","z":"4f666315.2afffc","name":"Kitchen Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.kitchen_motion_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":280,"wires":[["6f1c8d64.b35974"]]},{"id":"6f1c8d64.b35974","type":"subflow:da409f68.5a74d","z":"4f666315.2afffc","name":"","env":[],"x":315,"y":200,"wires":[["ae9606df.f42f48","b79c06d8.22fd38"]],"l":false},{"id":"289e0c9b.ef35b4","type":"api-call-service","z":"4eea289e.b77d38","name":"Hallways Off","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.hallways\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":930,"y":820,"wires":[[]]},{"id":"79178c01.a11d04","type":"api-call-service","z":"4eea289e.b77d38","name":"Kitchen Off","server":"81491f2d.c6cf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kitchen\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1070,"y":880,"wires":[[]]},{"id":"4552cadf.e36044","type":"subflow:e8e1522.0dab4b","z":"4eea289e.b77d38","name":"","env":[{"name":"group_name","type":"str","value":"Garden"}],"x":720,"y":400,"wires":[[]]},{"id":"3787fee5.186b22","type":"function","z":"7c90ad4.f89e854","name":"","func":"const target = env.get(\"light_level\")\nconst { lightlevel } = msg.data \n\nconst brightEnough = lightlevel >= target;\n\nconst text = `Lux ${brightEnough ? \"above\" : \"below\"} ${target}`\n\nreturn [\n    brightEnough ? msg : null,\n    brightEnough ? null : msg,\n    { \n        payload: {\n            fill: brightEnough ? \"yellow\" : \"grey\",\n            shape: \"dot\",\n            text\n        } \n    }\n];","outputs":3,"noerr":0,"x":170,"y":80,"wires":[[],[],[]]},{"id":"8a176f9e.247a6","type":"comment","z":"4ca21be4.5fec94","name":"Night Mode","info":"","x":110,"y":60,"wires":[]},{"id":"10f02c43.4efe14","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Entrance Hall Motion","server":"81491f2d.c6cf8","version":"1","entityidfilter":"binary_sensor.entrance_hall_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":320,"wires":[["e7d59efa.7d4b"]]},{"id":"e7d59efa.7d4b","type":"subflow:f9bc0030.d8095","z":"4ca21be4.5fec94","name":"","x":360,"y":320,"wires":[["4f311970.da6fa8"],[]]},{"id":"4f311970.da6fa8","type":"api-call-service","z":"4ca21be4.5fec94","name":"Turn Off Night Mode","server":"81491f2d.c6cf8","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night_mode","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":580,"y":320,"wires":[[]]},{"id":"afa24a0e.dd9178","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Night Mode","server":"81491f2d.c6cf8","version":1,"entityidfilter":"input_boolean.night_mode","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":160,"wires":[["9f3aef54.a35c6","520361bd.b7da2","8fe37be3.c5fbe8"],[]]},{"id":"9697a4ec.727838","type":"inject","z":"4ca21be4.5fec94","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"5","x":190,"y":380,"wires":[["e7d59efa.7d4b"]]},{"id":"baf8c5bb.d00bb8","type":"api-call-service","z":"4ca21be4.5fec94","name":"Set Bed Time","server":"81491f2d.c6cf8","version":1,"service_domain":"hue","service":"hue_activate_scene","entityId":"","data":"{ \"group_name\": \"Bedroom\", \"scene_name\": \"Bed Time\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":100,"wires":[[]]},{"id":"9f3aef54.a35c6","type":"api-call-service","z":"4ca21be4.5fec94","name":"Top Floor Landing Off","server":"81491f2d.c6cf8","version":"1","service_domain":"light","service":"turn_off","entityId":"light.top_floor_landing","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":340,"y":220,"wires":[["13bd266d.ea7f5a"]]},{"id":"13bd266d.ea7f5a","type":"api-call-service","z":"4ca21be4.5fec94","name":"Ensuite Off","server":"81491f2d.c6cf8","version":1,"service_domain":"light","service":"turn_off","entityId":"light.ensuite","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":550,"y":220,"wires":[[]]},{"id":"520361bd.b7da2","type":"api-current-state","z":"4ca21be4.5fec94","name":"Dressing Room Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.dressing_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":160,"wires":[["dc667d3b.d3cdc"],[]]},{"id":"dc667d3b.d3cdc","type":"api-call-service","z":"4ca21be4.5fec94","name":"Set Bed Time","server":"81491f2d.c6cf8","version":1,"service_domain":"hue","service":"hue_activate_scene","entityId":"","data":"{ \"group_name\": \"Dressing Room\", \"scene_name\": \"Bed Time\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":160,"wires":[[]]},{"id":"d103fd9a.530eb","type":"api-call-service","z":"ce61c348.0d296","name":"Set Movie Scene","server":"81491f2d.c6cf8","service_domain":"hue","service":"hue_activate_scene","data":"{ \"group_name\": \"Living Room\", \"scene_name\": \"Movie\" }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":420,"wires":[[]]},{"id":"48c77a9e.32a1d4","type":"api-call-service","z":"ce61c348.0d296","name":"Fairy Lights Off","server":"81491f2d.c6cf8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.living_room_fairy_lights\"}","mergecontext":"","output_location":"","output_location_type":"none","x":480,"y":480,"wires":[[]]},{"id":"43d0d552.34ba2c","type":"api-call-service","z":"ce61c348.0d296","name":"Dim Hallway","server":"81491f2d.c6cf8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"light.hallways\",\"brightness_pct\":10}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":540,"wires":[[]]},{"id":"539380b2.c6b0f","type":"api-call-service","z":"ce61c348.0d296","name":"Movie Soundfield","server":"81491f2d.c6cf8","service_domain":"remote","service":"send_command","data":"{\"device\":\"46140541\", \"command\": \"SFMovie\" }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":600,"wires":[[]]},{"id":"fd024779.05cdd8","type":"subflow:e8e1522.0dab4b","z":"ce61c348.0d296","name":"Reset Hallways","env":[{"name":"group_name","type":"str","value":"Hallways"}],"x":180,"y":540,"wires":[[]]},{"id":"8fe37be3.c5fbe8","type":"api-current-state","z":"4ca21be4.5fec94","name":"Bedroom Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":100,"wires":[["baf8c5bb.d00bb8"],[]]},{"id":"1a796d38.8e3c83","type":"subflow:e8e1522.0dab4b","z":"4ca21be4.5fec94","name":"","env":[{"name":"group_name","type":"str","value":"Bathroom"}],"x":560,"y":1240,"wires":[[]]},{"id":"7ad616e6.7f13f8","type":"api-call-service","z":"4ca21be4.5fec94","name":"Set Scene \"Bed Time\"","server":"81491f2d.c6cf8","version":"1","service_domain":"hue","service":"hue_activate_scene","entityId":"","data":"{ \"group_name\": \"Bedroom\", \"scene_name\": \"Bed Time\" }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":720,"y":1540,"wires":[[]]},{"id":"3eeec1f3.36975e","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.bathroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":1280,"wires":[[],["1a796d38.8e3c83"]]}]